In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

In [2]:
feed_df = pd.read_sql("""
SELECT timestamp, user_id, post_id, action, target
FROM "feed_data"
LIMIT 1000000
""", con=engine)
feed_df

                 timestamp  user_id  post_id action  target
0      2021-12-27 18:19:18    22833     1486   view       0
1      2021-12-27 18:20:40    22833     2123   view       0
2      2021-12-27 18:20:53    22833     4704   view       0
3      2021-12-27 18:22:25    22833     2533   view       0
4      2021-12-27 18:24:01    22833     3345   view       0
...                    ...      ...      ...    ...     ...
999995 2021-12-01 16:42:26    30609     4634   view       0
999996 2021-12-01 16:44:07    30609     6867   view       0
999997 2021-12-01 16:45:59    30609     6183   view       0
999998 2021-12-01 16:46:23    30609     2287   view       0
999999 2021-12-01 16:48:11    30609     4080   view       0

[1000000 rows x 5 columns]

In [3]:
feed_df = feed_df[feed_df.action=='view']

In [4]:
feed_df.target.mean()

0.11952858937299744

In [5]:
feed_df.nunique()

timestamp    535007
user_id        2112
post_id        6831
action            1
target            2
dtype: int64

In [6]:
import pickle
with open('feed_data.pkl', 'wb') as f:
    pickle.dump(feed_df, f)