In [11]:
import sys
from pathlib import Path

project_root = Path.cwd().parent
if str(project_root) not in sys.path:
    sys.path.append(str(project_root))

In [12]:
import pandas as pd
from sqlalchemy import create_engine
from src.api.dependencies import get_db_url


db_url = get_db_url()
engine = create_engine(db_url)

In [13]:
feed_df = pd.read_sql("""
SELECT timestamp, user_id, post_id, action, target
FROM "feed_data"
LIMIT 1000000
""", con=engine)
feed_df.head()

            timestamp  user_id  post_id action  target
0 2021-11-04 10:37:09   135744     4318   view       0
1 2021-11-04 10:37:41   135744     4960   view       0
2 2021-11-04 10:40:16   135744     4815   view       0
3 2021-11-04 10:42:04   135744     2216   view       0
4 2021-11-04 10:44:22   135744     5285   view       0

In [14]:
feed_df = feed_df[feed_df.action=='view']

In [15]:
feed_df.target.mean()

0.12065939730817074

In [16]:
feed_df.nunique()

timestamp    497672
user_id        2153
post_id        6831
action            1
target            2
dtype: int64

In [20]:
from config.constants import PROCESSED_DIR
import pickle

pkl_path = PROCESSED_DIR / "feed_data.pkl"
with open(pkl_path, 'wb') as f:
    pickle.dump(feed_df, f)